{% extends 'base.html' %}
{% block content %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/sign_up.css' %}">

<!-- Sign-Up Form Section -->

<div class="account-page">
    <div class="container" >
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-2">
                <img src="{% static 'img/catanddogs.png' %}" >
            </div>
            <div class="col-2" style="border-radius: 50%;">
                <form action="log_in" method="post" enctype="multipart/form-data" class="bg-white p-4 rounded shadow-sm mx-auto" >
                    <h1 class="text-center mb-4" style=" color: #000;">Log In</h1>
            
                    {% csrf_token %}
                    <div>
                        {% for message in messages %}
                        <h3 style="font-size: 18px; color: red;">
                            {{message}}
                        </h3>
                        {% endfor %}
                    </div>
                    

                    <div class="form-group">
                        <label for="Uname">Username:</label>
                        <input type="text" class="form-control" id="Uname" name="Uname" required>
                    </div>
            
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" name="password" required>
                    </div>
            
                    <button type="submit" class="btn btn-primary w-100" style="background-color: #06BBCC;color: black;">Log In</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

    
{% endblock %}

